$body-font-size: 22px;
$paragraph-spacing: 0.6em;
$body-width: 30em;

body {
  font-family:
    "Palatino Linotype", Palatino,
    "Book Antiqua",
    "Bitstream Charter",
    Garamond, "Apple Garamond", "ITC Garamond Narrow",
    "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
    serif;

  font-size: $body-font-size;
  font-variant-numeric: oldstyle-nums;
  hyphens: auto;
  line-height: 1.35;
  margin: 0 auto;
  padding: 0 1em;
  max-width: $body-width;

  --color-foreground: #000;
  --color-background: #fff;
  --color-deemphasized: #555;
  --color-line: #888;
  --color-link-unvisited: #00e;
  --color-link-visited: #551a8b;

  color: var(--color-foreground);
  background-color: var(--color-background);
}

@media(prefers-color-scheme: dark) {
  body {
    --color-foreground: #fff;
    --color-background: #000;
    --color-deemphasized: #bbb;
    --color-line: #666;
    --color-link-unvisited: #2499ff;
    --color-link-visited: #c274ec;
  }
}

a, a:active { color: var(--color-link-unvisited) }
a:visited { color: var(--color-link-visited) }

nav, code {
  font-family:
    Consolas,
    "DejaVu Sans Mono",
    "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter",
    "Bitstream Vera Sans Mono",
    "Courier New", Courier,
    monospace;
}

body > header > nav {
  margin: 2em 0;

  ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    font-size: $body-font-size;

    a, a:visited {
      text-decoration: none;
    }
  }

  li:after {
    content: "{";
    margin: 0 .5em;
    font-weight: normal;
  }

  li:first-child {
    display: inline-block;
    font-size: $body-font-size;
    font-weight: bold;
    margin: 0;

    a, a:visited {
      text-decoration: none;
      color: var(--color-foreground);
    }
  }
}

main {
  header {
    margin-bottom: $paragraph-spacing * 2;

    h1 {
      margin-bottom: .1em;
      font-size: 150%;
      color: var(--color-foreground);
    }

    p {
      font-size: $body-font-size * .8;
      color: var(--color-deemphasized);
      margin-top: 0;
    }
  }
}

.section-listing {
  padding: 0;

  li {
    list-style-type: none;
    margin: 0 0 1em 0;
  }

  h2 {
    font-size: $body-font-size;
    margin-bottom: 0;
  }

  p {
    font-size: $body-font-size * .8;
    color: var(--color-deemphasized);
  }
}

h2 { font-size: 115%; }
h3 { font-size: 100%; }
h1, h2, h3 {
  font-weight: 650;
  hyphens: none;
  margin: $paragraph-spacing*2.5 0 $paragraph-spacing 0;
}
h1, h4, h5, h6 { color: red; }

p {
  margin: 0 0 $paragraph-spacing 0;
}

blockquote {
  border-left: 2px solid var(--color-line);
  font-size: $body-font-size * .9;
  line-height: 1.25;
  margin: $paragraph-spacing 0;
  padding: 1em;

  :last-child {
    margin-bottom: 0;
  }
}

hr {
  width: 85%;
  margin: $paragraph-spacing * 2 auto;
  border: 1px solid var(--color-line);
}

figure {
  text-align: center;
  margin: $paragraph-spacing*2 0;

  img {
    max-width: $body-width;
  }

  figcaption {
    color: var(--color-deemphasized);
  }
}

pre {
  padding: 1em;
  white-space: pre;
  margin: $paragraph-spacing*2 -5em;
}

@media(max-width: $body-width + 10em) {
  pre {
    margin-left: 0;
    margin-right: 0;
    overflow-x: scroll;
  }
}

code {
  font-size: 18px;
  font-variant-numeric: normal;
  hyphens: none;
}
