{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ get_url(path='style.css') }}">
  <style>
    html, body, nav {
      height: 100%;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    h1 {
      font-size: 200%;
      margin: 0;
    }

    h1:after {
      margin: 0 0.3em;
      content: "{";
      font-size: 200%;
      vertical-align: middle;
      font-weight: 100;
    }

    ul {
      list-style-type: none;
      padding: 0;
      line-height: 1.5;
    }

    a:link { text-decoration: none; }
    a:link:hover { text-decoration: underline; }

    @media(max-width: 30em) {
        nav { flex-direction: column; }
        h1 { text-align: center; }
        h1:after { writing-mode: vertical-lr; }
    }
  </style>
{% endblock style %}

{% block title %}<title>{{ config.title }}</title>{% endblock %}

{% block header %}{% endblock header %}

{% block main %}
  <nav>
    <h1>spladug</h1>
    <ul>
      <li><a href="/notes/">notes</a></li>
      <li><a href="https://github.com/spladug">github</a></li>
      <li><a href="/A1986BFD48E8FD1E.asc">gpg key</a></li>
    </ul>
  </nav>
{% endblock main %}
